<div>
    <div th:fragment="indexNavigation">
        <div
            uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
            <nav class="uk-navbar-container" uk-navbar style="position: relative; z-index: 980;">
                <div class="uk-navbar-right">

                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="#home" uk-scroll>Home</a></li>
                        <li class="uk-active"><a href="#about" uk-scroll>About</a></li>
                        <li class="uk-active"><a href="#streams" uk-scroll>Streams</a></li>
                        <li class="uk-active"><a href="#studentReview" uk-scroll>Reviews</a></li>
                        <li> <a class="uk-button uk-button-default" href="#modal" uk-toggle>Notification</a></li>
                    </ul>

                </div>
            </nav>
        </div>
    </div>
</div>